<div>
<h2>Sprint overzicht</h2>

<h3>Sprint: {{data.currSprint.naam}}</h3>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" ng-click="prev()" ng-if="data.prevSprint.datum!=null">Vorige</button>
  <button type="button" class="btn btn-default" ng-click="init()">Huidige</button>
  <button type="button" class="btn btn-default" ng-click="next()" ng-if="data.nextSprint.datum!=null">Volgende</button>
</div>
<!-- <div class="leftpanel" ng-swipe-right="prev()"></div>
<div class="rightpanel" ng-swipe-left="next()"></div>
 --><table class="ovz">
	<thead>
	<tr>
			<th class="top"></th>
			<th class="top"></th>
			<th
				class="top"
				ng-class="{today: (dag.today)}" 
				ng-repeat="dag in data.users[0].data">
			</th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th
				ng-class="{today: (dag.today)}" 
				ng-repeat="dag in data.users[0].data">
				{{dag.dowName}}
			</th>
		</tr>
		<tr>
			<th>Team</th>
			<th>Naam</th>
			<th 
				ng-class="{today: (dag.today)}" 
				ng-repeat="dag in data.users[0].data">
				{{dag.dag}}-{{dag.maand}}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in data.users" class="animate-repeat">
			<td ng-style="{color:user.rgb}">{{user.team}}</td>
			<td>{{user.naam}}</td>
			<td 
				class="dagobj"
				ng-class="{dhn: (dag.soort=='D'),sprint: (dag.soort=='S'),cursus: (dag.soort=='C'), weekend:((dag.dow==6 && dag.soort != 'D') || (dag.dow==7 && dag.soort != 'D')) ,vrij: ((dag.uren==0.0 && dag.soort != 'C' && dag.soort != 'S' && dag.soort != 'D' && dag.soort != 'T') || dag.soort=='V'), thuis: (dag.soort=='T'), today: (dag.today)}"
				ng-repeat="dag in user.data">
				<span class="uren" ng-if="dag.soort=='T' || dag.soort=='K'">{{dag.uren}}</span>
				<span class="thuis glyphicon glyphicon-home" ng-if="dag.soort=='T'"></span>
				<span class="uren" ng-if="dag.soort=='C'">C</span>
				<span class="uren" ng-if="dag.soort=='S'">S</span>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">Totaal aanwezig CAO(max {{data.maxWerkplekken}}!)</td>
			<td 
				ng-repeat="(key, value) in data.totaal"
				ng-class="{goed: (value <= data.maxWerkplekken), fout: (value > data.maxWerkplekken), today: (key == data.today)}">
				{{value}}
			</td>
		</tr>
		<tr>
			<td colspan="2">Totaal aanwezig IM/CKC(max {{data.maxImckcWerkplekken}}!)</td>
			<td 
				ng-repeat="(key, value) in data.totaalimckc"
				ng-class="{goed: (value <= data.maxImckcWerkplekken), fout: (value > data.maxImckcWerkplekken), today: (key == data.today)}">
				{{value}}
			</td>
		</tr>
		<tr>
			<td colspan="2" class="bottom"></td>
			<td 
				class="bottom"
				ng-repeat="(key, value) in data.totaal"
				ng-class="{today: (key == data.today)}">
			</td>
		</tr>
	</tfoot>
</table>
<table ng-repeat="team in data.totaalTeam" class="totteam">
	<tr>
		<th colspan= "2" ng-style="{color: team.rgb}">{{team.naam}}</th>
	</tr>
	<tr ng-repeat="functie in team.functies">
		<th>{{functie.code}}</th>
		<td>{{functie.uren}}</td>
	</tr>
</table>

</div>