<div 
	ng-controller="dagCtrl" 
	class="dagobj" 
	ng-click="click()"
	ng-class="{outsidemonth: (dag.maand!=calender.currmonth), dhn: (dag.soort=='D'),sprint: (dag.soort=='S'),cursus: (dag.soort=='C'),weekend:((dag.dow==6 && dag.soort != 'D') || (dag.dow==7 && dag.soort != 'D')), vrij: ((dag.uren==0.0 && dag.soort != 'C' && dag.soort != 'S' && dag.soort != 'D' && dag.soort != 'T') || dag.soort=='V'), thuis: (dag.soort=='T')}">
	<span class="dagnr">{{dag.dag}}</span>
	<span class="dagnr glyphicon glyphicon-home" ng-if="dag.soort=='T'"></span>
	<br/>
	<span class="uren" ng-if="dag.soort=='T' || dag.soort=='K'">{{dag.uren}}</span>
	<span class="uren" ng-if="dag.soort=='C'">C</span>
	<form name="urenform" ng-submit="submitUur" class="form-uren" novalidate ng-if="dag.soort=='M'">
		<input type="number" min="0" max="10" id="uren" ng-model="dag.uren" class="form-control" required ng-blur="savedag()" focus-me="dag.soort=='M'">
	</form>
</div>